header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  margin: 0;
  align-items: center;
}

nav ul li.logo {
  flex: 0;
}

nav ul li.logo img {
  height: 50px;
  width: auto;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 6rem;
  transition: color 0.3s ease;
}

.START_SKÆRM:hover {
  color: rgb(115, 112, 112);
}
.tema2_menu:hover {
  color: var(--rød);
}
.tema3_menu:hover {
  color: var(--blå);
}
.tema4_menu:hover {
  color: var(--grøn);
}
.tema5_menu:hover {
  color: var(--gul);
}

.burger {
  width: 38px;
  height: 10px;
  cursor: pointer;
  margin-top: 1.7rem;
  margin-right: 4rem;
}

.burger .line {
  width: 6vw;
  height: 12px;
  background-color: rgb(0, 0, 0);
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.logo_mobil {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
}
.logo_mobil {
  display: block;
  width: 10vw;
  margin-top: 0.7rem;
  margin-left: 0.7rem;
}
.menu {
  display: none;
}
.burger {
  display: block;
}
.burger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  transition: 0.2s linear;
}

.burger.active .line:nth-child(2) {
  opacity: 0;
  transition: 0.15s linear;
}

.burger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  transition: 0.2s linear;
}

nav.active .menu {
  display: block;
  background-color: #000000;
  position: absolute;

  left: 0;
  width: 100%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
}

nav.active .menu li {
  margin: 10px 20px;
}

nav.active .menu a {
  font-size: 10vw;
}

nav ul li.logo {
  flex: 0;
  display: none;
}

@media (max-width: 800px) {
  .burger .line {
    width: 6vw;
    height: 8px;
  }

  .burger {
    margin-right: 2rem;
  }
}

@media (max-width: 700px) {
  .logo_mobil {
    display: block;
    width: 15vw;
    margin-top: 0.7rem;
    margin-left: 0.7rem;
  }
  .burger .line {
    width: 7vw;
    height: 8px;
  }
  .burger {
    margin-right: 2rem;
  }
}

@media (max-width: 480px) {
  .logo_mobil {
    display: block;
    width: 16vw;
    margin-top: 0.7rem;
    margin-left: 0.7rem;
  }
  .burger .line {
    width: 7vw;
    height: 6px;
  }
  .burger {
    margin-right: 1rem;
  }
}

@media (max-width: 988px) {
  nav.active .menu a {
    font-size: 11vw;
  }
}

@media (min-width: 1100px) {
  nav.active .menu a {
    font-size: 9vw;
  }
}

@media (min-width: 1300px) {
  nav.active .menu a {
    font-size: 7.5vw;
  }
}
